{% extends 'index.html' %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <ul class='list-group'>
                <span class='text-dark'>Основные функции:</span>
                <li class="list-group-item"><a href="#" id="add_dayly_reminder" class='text-dark'>Ежедневное напоминание</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block hidden-forms %}
<form action="{% url 'tm:dayly_reminder_view'%}" id="reminder_form">
    {% csrf_token %}
    <input type="time" class="InputField" name="time">
</form>
{% endblock %}