{% extends 'index.html' %}

{% block title %}
	Главная страница
{% endblock %}

{% block content %}
	{% for year, year_items in calendar.items %}
		<p class='pt-3 mb-0 text-secondary'>Год: {{year}}</p>
		<hr class='mt-0 text-secondary'>
		<div class="row" onselectstart="return false">
			{% for month_id, mouth_info in year_items.items %}
				<div class='col-xl-auto col-lg-4 col-md-auto my-2 text-secondary'>
					<table class="month-table">
							<thead>
								<tr>
									{{ mouth_info.0 }}
								</tr>
							    <tr>
							    <th scope="col">Пн</th>
							    <th scope="col">Вт</th>
							    <th scope="col">Ср</th>
							    <th scope="col">Чт</th>
							    <th scope="col">Пт</th>
							    <th scope="col" class='hollyday'>Сб</th>
							    <th scope="col" class='hollyday'>Вс</th>
							    </tr>
							</thead>
						    <tbody>
								{% for mouth_week in mouth_info.1 %}
								<tr>
									{% for day in mouth_week %}
										{% if day.day_of_month == 0 %}
											<td class='blank-cell'>
											</td>
										{% else %}
											{% if day.current %}
												<td class='nblank-cell current-day' data-year={{year}} data-month={{month_id}} data-day={{day.day_of_month}}>
													{{day.day_of_month}}
													<div class='task-count'><span>{{day.task_count}}</span></div>
												</td>
											{% else %}
												{% if 'task_count' not in day %}
												<td class='nblank-cell' data-year={{year}} data-month={{month_id}} data-day={{day.day_of_month}}>
													{{day.day_of_month}}
												</td>
												{% else %}
												<td class='nblank-cell' data-year={{year}} data-month={{month_id}} data-day={{day.day_of_month}}>
													{{day.day_of_month}}
													<div class='task-count'><span>{{day.task_count}}</span></div>
												</td>
												{% endif %}
											{% endif %}
										{% endif %}
									{% endfor %}
								</tr>
								{% endfor %}
	 					    </tbody>
					</table>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
{% endblock %}