{% extends 'index.html' %}

{% block title %}
	Настройки
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-4">
		<ul class='list-group'>
			<span class='text-dark'>Основные функции:</span>
			<li class="list-group-item"><a href="#" id="delete_all_tasks" class='text-dark'>Удалить все заметки</a></li>
			<li class="list-group-item"><a href="#" id="delete_all_tasks_before" class='text-dark'>Удалить все заметки до определенной даты</a></li>
			<li class="list-group-item">
				{% if vk is not None %}
					<a href="{% url 'auth:vk_logout' %}" class='text-dark'>Отвязать аккаунт ВКонтакте [id{{vk.user_id}}]</a>
				{% else %}
					<a href="{% url 'auth:vk_request' %}" class='text-dark'>Привязать аккаунт ВКонтакте</a>
				{% endif%}
			</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block hidden-forms %}
<form action="" class='date-form'>
	{% csrf_token %}
	{% for field in form %}
		{{ field }}
	{% endfor %}
</form>
{% endblock %}