<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Авторизация</title>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	{% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Odibee+Sans|Open+Sans+Condensed:300&display=swap" rel="stylesheet">
</head>
<body>	
	<div class="main" style="background-color: #2B2B2B;">
		<div class="container-fluid">
			<div class="row justify-content-center align-items-center" style="height: 100vh;">
				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 align-self-center">
					<div class='block-register'>
						<form action="{% url 'auth:register_page' %}" method='POST' class='register_form d-flex flex-column align-items-center'>
							{% include 'form_template.html' with form=register_form %}
							<input class="InputField submit p-0" type="submit" value='Регистрация'>
							<span class="d-block"><a href="{% url 'auth:auth_page' %}" class='auth-links'>Авторизация</a></span>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>