.ims_side_menu {
  position: fixed;
  background-color: #313131;
  height:100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index:1000;
  left: 0px;
}

.ims_switch_button {
  background-color: #313131;
  display: block;
  color: black;
}

.main_ul {
  list-style: none;
  padding: 0;
}

.main_ul li a {
  color: #FFFFFF;
  padding-left: 10px;
  font-size: 1.1em;
}

.ims_header a {
  color: #FFFFFF;
}